@import 'tailwindcss/index.css';

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  font-family:
    'Segoe UI',
    system-ui,
    -apple-system,
    sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
}
